        *{
        	font-size:12px;                                  /*兼容IE*/
        }
                                                       	    /*header部分*/
		.header .collect-bg{
			width: 100%;
			background: #f7f7f7;
		}
		.header .collect-bg .collect{
			width: 1000px;
			height: 30px;
			background: #f7f7f7;
			margin: 0 auto;
		}
		.header .collect-bg .collect a{
			color:black;
		}
		.header .collect-bg .collect .collect-left{
			font-size: 14px;
			font-weight: bold;
			height: 30px;
			line-height: 30px;
		}
		.header .collect-bg span{
			color:orange;
		}
		.header .collect-bg .collect .collect-right{
			font-size:14px;
			height:30px;
			line-height:30px;
			color:#666;
		}
		.header .banner-bg{
			width: 100%;
			background: #f62d2b;
		}
		.header .banner-bg .banner{
			width: 1000px;
			height: 85px;
			background: #f62d2b;
			margin: 0 auto;
			background: url(../images/logo.png) no-repeat 39px 13px;
		}
		.header .banner-bg .banner .logo-link{
			height:85px;
			width:185px;
		}
		.header .banner-bg .banner .search{
			padding-left:152px;
		}
		.header .banner-bg .banner input{
			border-style:none;
			height: 36px;
			width: 360px;
			margin-top:23px;
			line-height:36px;    /**/
		}
		.header .banner-bg .banner button{
			border-style:none;
			height:36px;
			width:70px;
			background-color:#ff8c00;
			cursor:pointer;
			color:white;
			font-size:15px;
			vertical-align:bottom;
		}
		.header .banner-bg .banner .cart-left{
			width:89px;
			height:36px;
			background-color: #ff8800;
			border-right:1px solid #e27a00;
			margin-top:23px;
			margin-left:31px;
			color:white;
			font-size:15px;
			background-image:url(../images/shopcar.jpg);
			background-repeat:no-repeat;
			background-position:7px 7px;
			text-indent:40px;
			line-height:36px;
		}
		.header .banner-bg .banner .cart-right{
			width:32px;
			height:36px;
			background-color: #ff8800;
			margin-top:23px;
			border-left:1px solid #ff9c01;
			color:white;
			font-size:15px;
			padding-right:27px;
			background-image:url(../images/icon.jpg);
			background-repeat:no-repeat;
			background-position:37px 12px;
			line-height:36px;
			text-align:right;
		}
		.header .nav-bg{
			width: 100%;
			background: #d30c0e;
		}
		.header .nav-bg .nav{
			width: 1000px;
			height: 35px;
			background: #d30c0e;
			margin: 0 auto;
		}
		.header .nav-bg .nav li{
			width:100px;
			height:35px;
			line-height:35px;
			font-size:14px;
			text-align: center;
			cursor:pointer;
		}
		.header .nav-bg .nav a{
			text-decoration: none;
			color:white;
		}
		.header .nav-bg .nav li:hover{
			background-color: #ff8c00;
		}
		.header .nav-bg .nav li.firstli{
			width:185px;
			font-weight:bold;
			font-size:16px;
			background-image:url(../images/sanjiao.png);
			background-repeat:no-repeat;
			background-position: 148px 15px;
		}
																	/*主体-侧边栏部分*/
		.main{
			width:1000px;
			margin:0 auto;
		}
		.main .sidebar{
			margin-top:20px;
			width:185px;
		}
		.main .sidebar .caption{
			width:185px;
			height:35px;
			border:1px solid #d7d7d7;
			background-color:#f3f3f3;
			line-height: 35px;
			text-align: center;
			font-weight:bold;
			font-size:16px;
		}
		.main .sidebar ul{
			border:1px solid #d7d7d7;
			width:185px;
			background-color:#f3f3f3;
			border-top:none;
			border-bottom-style: dotted;
			overflow:hidden;
		}
		.main .sidebar ul li.barhead{
			font-weight:bold;
			font-size:14px;
			padding:10px 0 2px 18px;
		}
		.main .sidebar ul.sidehead{
			width:185px;
			border:none;
		}
		.main .sidebar .sidehead li{
			width:53px;
			float:left;
			padding:5px 19px;
		}
		.main .sidebar .sidehead li a{
			color:#666;
		}
																	/*主体部分*/
		.main .body{												/*兼容IE*/
			width:815px;
		}
		.main .body .ads{
			width:809px;
			height:327px;
			margin:20px 0 0 6px;
			overflow:hidden;
		}
		.main .body .cam div.text{
			width:180px;
			height:41px;
			line-height:41px;
			font-weight:bold;
			font-size:16px;
			border-bottom:2px solid #096dba;
			padding-left:8px;
			margin:15px 0 0 6px;
		}
		.main .body .cam div.empty{
			width:621px;
			height:41px;
			border-bottom:2px solid #ccc;
			margin-top:15px;
		}
		.main .body .cam div.product-upper{
			width:180px;
			text-align: center;
			margin-bottom:15px;
			color:black;
		}
		.main .body .cam .product-line img{
			width:160px;
			height:160px;
		}
		.main .body .cam span.money{
			font-weight:bold;
			color:#d4105a;
		}
		.main .body .cam span.star{
			color:orange;
		}
		.main .body .cam div.product{
			margin:5px 11px;
		}
																	/*footer部分*/
		.footer .footerbg{
			width:100%;
			background:#ccc;
			height:223px;
			margin-top:50px;
		}
		.footer .footerbg .siteinfo{
			width:1000px;
			background:#ccc;
			height:223px;
			margin:0 auto;
			overflow:hidden;
			text-align:center;
		}
		.footer .footerbg .siteinfo a{
			color:black;
			border-right:1px solid #000;
			padding:1px;
		}
		.footer .footerbg .siteinfo .words{
			margin:57px auto 0px;
			line-height:25px;
		}
		.footer .footerbg .siteinfo img{
			margin:23px 26px 47px 0;
		}