body,header,main,footer,div,ul,li{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
body{
	background: url("../image/bg_main.JPG") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
header .nav{
	width: 100%;
}
header .nav ul{
	display: flex;
	flex-flow: row nowrap;
	justify-content:space-around;
	max-width: 1060px;
	margin: 50px auto;
}
header .nav ul li a{
	opacity:.5;
	color: #fff;
	display: block;
}
header .nav ul li{
	width: 25%;
	line-height: 50px;
	text-align: center;
	font-size: 3rem;
	padding:0 5px;
	box-sizing:border-box;
}

main .date ul span{
    float:left;
    font-size:25px;
}
main .date ul li{
    float:left;
    font-size:25px;
}

@media screen and (min-width:768px){
	main .date {
		background: black;
		opacity: .3;
		color: #fff;
		max-width: 400px;
		margin-top: 150px;
		margin-left: 15%;
		padding: 20px 20px;
		text-align:center;
	}
}

@media screen and (max-width:768px){
	header .nav ul li{
		font-size:24px;
	}
	main .date {
		padding:50px 0;
		width:100%;
		background-color: black;
		opacity: .3;
		color: #fff;
		text-align:center;
	}
	main .date ul{
		width:80%;
		margin:0 auto;
	}
}