body,div,ul,li,a,button,textarea,form{
    margin:0;
    padding:0;
}
body{
    background:#FFFCFB;
}
ul{
    display:flex;
    flex-flow:row nowrap;
    justify-content:space-between;
    width:70%;
    margin: 20px auto;
}
ul li{
    float:left;
    list-style: none;
    font-size: 3rem;
}
ul li a{
    text-decoration: none;
    color:#FA8072;
    text-shadow: 1px 1px #000;
}
ul li.line{
    width:50px;
    height:50px;
    border-right:3px solid #fff;
    opacity:.4;
}
.wrapper{
    width:70%;
    margin:50px auto;
}
.wrapper form{
    margin-bottom:50px;
}
.wrapper input,.wrapper textarea{
    outline:none;
    font-size:16px;
    padding:5px;
    box-sizing:border-box;
    border:1px solid lightcoral;
    border-radius:5px;
}
.wrapper form input:first-of-type{
    height:30px;
    margin-bottom:5px;
}
.wrapper form textarea{
    height:150px;
    width:100%;
    resize:none;
}
.wrapper form input:last-of-type{
    background-color:#fff;
    width:100px;
    cursor:pointer;
}
.wrapper form input:last-of-type:hover{
    color:lightcoral;
}
.data .message{
    padding:20px 10px;
    border-bottom:1px dotted #ccc;
}
.data .message .name{
    font-weight:bold;
    padding-bottom:10px;
}
.data .message .date{
    float:right;
    color:#888;
    font-size:14px;
}
.wrapper .pages{
    border:1px solid lightcoral;
    border-radius:5px;
    width:100px;
    margin:10px auto;
    padding:10px;
    text-align:center;
    cursor:pointer;
}