body {
    background:#FFFCFB;
}
ul{
    display:flex;
    flex-flow:row nowrap;
    justify-content:space-around;
    line-height:80px;
    width:60%;
    margin: 20px auto;
    height:80px;
    background: url("../image/message_bg.png") no-repeat center center;
    padding:0 10%;
    box-sizing: border-box;
}
ul li{
    float:left;
    list-style: none;
    font-size: 3vw;
}
ul li a{
    text-decoration: none;
    color:#FFF;
}
.wrapper{
    width:70%;
    margin:50px auto;
}
.wrapper form{
    margin-bottom:50px;
}
.wrapper input,.wrapper textarea{
    outline:none;
    font-size:16px;
    padding:5px;
    box-sizing:border-box;
    border:1px solid #F08080;
    border-radius:5px;
}
.wrapper form input:first-of-type{
    height:30px;
    margin-bottom:5px;
}
.wrapper form textarea{
    height:150px;
    width:100%;
    resize:none;
}
.wrapper form input:last-of-type{
    background-color:#fff;
    width:100px;
    cursor:pointer;
}
.wrapper form input:last-of-type:hover{
    color:#F08080;
}
.data .message{
    padding:20px 10px;
    border-bottom:1px dotted #ccc;
}
.data .message .name{
    font-weight:bold;
    padding-bottom:10px;
}
.data .message .date{
    float:right;
    color:#888;
    font-size:14px;
    margin-top:5px;
}
.data .message div:first-child{
    font-size:18px;
    border:1px solid #000;
    width:14px;
    height:14px;
    line-height:14px;
    cursor:pointer;
    margin-bottom:5px;
    display:none;
}
.wrapper .pages{
    border:1px solid #F08080;
    border-radius:5px;
    width:100px;
    margin:10px auto;
    padding:10px;
    text-align:center;
    cursor:pointer;
}
.login{
    height:64px;
    width:64px;
    background:url("../../static/image/btfly_1.png");
    top:31%;
    left:5%;
    transform:rotatez(25deg);
    position:fixed;
    cursor:pointer;
}
.login-z{
    height:70px;
    width:70px;
    top:30%;
    left:5%;
    position:fixed;
    cursor:pointer;
    line-height:35px;
    text-align:center;
    color:#FA8072;
    font-weight:bold;
    border:1px solid #FA8072;
    background:#FFFCFB;
    opacity:0;
}
.top{
    height:64px;
    width:64px;
    background:url("../../static/image/btfly_2.png");
    top:50%;
    left:85.5%;
    transform:rotatez(215deg);
    position:fixed;
    cursor:pointer;
}
.top-z{
    height:70px;
    width:70px;
    top:50%;
    left:85%;
    position:fixed;
    cursor:pointer;
    line-height:35px;
    text-align:center;
    color:#FA8072;
    font-weight:bold;
    border:1px solid #FA8072;
    background:#FFFCFB;
    opacity:0;
}
.adminLogin{
    width:200px;
    height:200px;
    border:1px solid #FA8072;
    background-color:#F0F7FC;
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    text-align:center;
    font-size:16px;
    display:none;
}
.adminLogin div{
    font-size:20px;
    float:right;
    padding:5px 5px;
    cursor:pointer;
}
.adminLogin p{
    margin-top:30px;
    font-weight:bold;
}
.adminLogin form input{
    margin-top:10px;
}
.adminLogin form input:last-of-type{
    background:none;
    border:1px solid #FA8072;
    outline:none;
    height:25px;
    width:50px;
    cursor:pointer;
}
@media screen and (max-width:768px){
    .bg ul li{
        font-size: 20px;
    }
    .bg ul{
        padding:0;
    }
}