body,button,textarea,form{
    margin:0;
    padding:0;
}

body{
    background: url("../image/bg_message.JPG") no-repeat;
    background-size: cover;
    background-position: 0 -30px;
    overflow:hidden;
}
.wrapper{
    float:left;
    width:60%;
    padding-top:50px;
    padding-left:100px;
}
form input,form textarea{
    border:none;
    background:#fff;
    outline:none;
    border-radius:5px;
    box-sizing:border-box;
    padding:5px;
}
form input:first-child{
    width:100px;
    height:20px;
    word-break: break-all;
    float:left;
}
form textarea{
    resize:none;
    height:65px;
    width:400px;
    float:left;
}
form input:last-of-type{
    height:65px;
    float:left;
    margin-left:2px;
    cursor:pointer;
}
form input:last-child:hover{
    color:red;
}
.vertical{
    float:left;
    width:80px;
    height:10px;
    border-bottom:1px solid gray;
}
.data .message{
    margin-top:30px;
}
.data div{
    border-radius:5px;
}
.data .name{
    width:100px;
    background-color:#fff;
    float:left;
    box-sizing: border-box;
    padding:5px;
}
.data .words{
    width:400px;
    background-color:#fff;
    float:left;
    box-sizing:border-box;
    padding:5px;
}
ul{
    float:right;
    width:30%;
    margin-top:50px;
}
ul li{
    list-style: none;
    font-size: 50px;
}
ul li a{
    text-decoration: none;
    color:#fff;
    opacity:.4;
}
ul li.line{
    width:50px;
    height:50px;
    border-right:3px solid #fff;
    opacity:.4;
}