body{
    background:#fffde4 url("../../static/image/bg_spacevt.jpg") repeat-x;
}
.wrapper{
    background:url("../../static/image/bg_space.jpg") no-repeat;
}
.nav{
    width:80%;
    margin:0 auto;
    box-sizing:border-box;
    padding-top:50px;
}
.nav ul{
    padding:15px 0;
    text-align:center;
    width:50%;
    margin:30px auto;
    display:flex;
    flex-flow:row nowrap;
}
.nav ul li{
    border-right:2px solid #26606D;
    padding:0 20px;
}
.nav ul li a{
    color:#26606D;
    font-size:40px;
    font-weight:bold;
}
.main{
    width:80%;
    margin:0 auto;
    margin-top:150px;
    display:flex;
    flex-flow:row nowrap;
    justify-content: space-around;
}
.main .content{
    width:70%;
    margin-top:30px;
}
.main .content p{
    border-bottom:3px solid #D3D3D3;
    text-align:center;
    font-weight:bold;
    font-size:20px;
    padding-bottom:10px;
}
.main .content .article{
    padding:10px 10px;
}
.main .sidebar{
    width:30%;
    margin-top:50px;
}
.main .sidebar .sideNav{
    height:100px;
    width:20%;
    margin:0 auto;
    text-align:center;
    line-height:50px;
    position:fixed;
    top:10%;
    left:68%;
    z-index: 1000;
    display:none;
}
.main .sidebar .sideNav div{
    height:50px;
    width:50%;
    float:left;
}
.main .sidebar .sideNav a{
    color:#fff;
    font-size:20px;
    font-weight:bold;
}
.main .sidebar .sideNav a:hover{
    border-bottom:1px solid #fff;
}
.main .sidebar .sideNav div:first-child{
    background:#F0DB4F;
}
.main .sidebar .sideNav div:nth-child(2){
    background:#3399CC;
}
.main .sidebar .sideNav div:nth-child(3){
    background:	#CF4646;
}
.main .sidebar .sideNav div:last-child{
    background:	#4CAF50;
}
.main .sidebar .sideTabs{
    width:80%;
    margin:40px auto;
    height:280px;
}
.main .sidebar .sideTabs a{
    display:inline-block;
    border:1px solid gray;
    border-radius:3px;
    font-size:12px;
    padding:3px 5px;
    margin-bottom:5px;
}
.main .sidebar .sideTabs a:hover{
    background:#6495ED;
    color:#fff;
}
.main .sidebar .sideNews{
    width:80%;
    margin:0 auto;
}
.main .sidebar .sideNews p,.main .sidebar .sideTabs p,.main .sidebar .sideTime p:first-child{
    border-bottom:3px solid #D3D3D3;
    padding:10px 0;
    font-weight:bold;
    color:#505050;
}
.main .sidebar .sideNews li{
    margin:10px 0;
}
.main .sidebar .sideNews a:hover{
    text-decoration:underline;
}
.main .sidebar .sideTime{
    width:80%;
    margin:50px auto;
}
.main .sidebar .sideTime .btn{
    cursor:pointer;
    border-radius:5px;
    border:1px solid gray;
    padding:5px 5px;
    display:inline-block;
}

/*文本编辑框*/
form.text{
    width:80%;
    margin:50px auto;
    display:none;
}
form.text .text-wrapper{
    width:70%;
}
form.text input{
    cursor:pointer;
    border:none;
    outline:none;
    background:#FF9900;
    color:#fff;
    font-size:16px;
    line-height:20px;
    padding:5px 20px;
    border-radius:3px;
    margin:30px auto;
    display:none;
}

.login {
    width:100px;
    margin:50px auto;
    border-radius:3px;
    text-align:center;
    padding:5px 10px;
    background:#FF9900;
    color:#fff;
    cursor:pointer;
}
.adminLogin {
    width:200px;
    height:200px;
    border:1px solid #FA8072;
    background-color:#F0F7FC;
    position:fixed;
    top:50%;
    left:50%;
    z-index: 1000;
    transform:translate(-50%,-50%);
    text-align:center;
    font-size:16px;
    display:none;
}
.adminLogin div{
    font-size:20px;
    float:right;
    padding:5px 5px;
    cursor:pointer;
}
.adminLogin p{
    margin-top:30px;
    font-weight:bold;
}
.adminLogin form input{
    margin-top:10px;
}
.adminLogin form input:last-of-type{
    background:none;
    border:1px solid #FA8072;
    outline:none;
    height:25px;
    width:50px;
    cursor:pointer;
}

/*小屏*/
@media (max-width:768px){
    .wrapper{
        background:none;
    }
    .main .sidebar{
        display:none;
    }
    .wrapper .nav,.nav ul{
        width:100%;
        padding:0;
    }
    .nav ul li{
        padding:0 10px;
    }
    .nav ul li a{
        font-size:20px;
    }
    .main {
        width: 100%;
        margin-top: 0;
    }
    .main .content{
        width:90%;
    }
    .main .content .section .details{
        width:100%;
    }
    form.text .text-wrapper{
        width:100%;
    }
}